$body-background:		#ebebeb;


.body
{
	background: $body-background;
}



/***********************************************************************************/
/* Articles */
$article-background:	#fefefe;
$extract:              #e6e6e6;

.article
{
	background: $article-background;
	margin: 15px auto;
	width: 70%;
	max-width: 800px;

	@include border-radius(10px);
}

.head-article
{
	border-bottom: 2px solid $body-background;
	max-width: 100%;
	padding: 17px;
	@include pie-clearfix;
	text-align: right;

	*
	{
		display: inline;
		vertical-align: middle;
		margin: 0 7px;
	}

	.h3
	{
		float: left;
		margin: 2px 0;
	}

	.author-picture
	{
		height: 25px;
	}
}

.content-article
{
	@include pie-clearfix;

	p
	{
		display: inline-block;
		width: 60%;
		margin: 17px;
	}
	
	.button
	{
		display: inline-block;
		float: right;
		margin: 10px 17px 0 0;
		max-width: 40%;
	}

	.extract
	{
		display: inline-block;
		width: 60%;
		margin: 0 17px 17px 17px;
		padding: 8px;
		background: $extract;
		@include border-radius(5px);
		cursor: pointer;

		p
		{
			margin: 0;
			width: 100%;
		}

		&:hover, &:focus, &:active
		{
			background: darken($extract, 10%);
		}
	}
}