$body-background:		#ebebeb;
$article-background:	#fefefe;


.body
{
	background: $body-background;
}



/***********************************************************************************/
/* Articles */

.article
{
	background: $article-background;
	margin: 10px auto;
	width: 70%;
	max-width: 800px;

	@include border-radius(10px);
}

.head-article
{
	border-bottom: 2px solid $body-background;
	max-width: 100%;
	padding: 17px;
	@include pie-clearfix;
	text-align: right;

	*
	{
		display: inline;
		vertical-align: middle;
		margin: 0 7px;
	}

	.h3
	{
		float: left;
		margin: 2px 0;
	}

	.author-picture
	{
		height: 25px;
	}
}

.content-article
{
	@include pie-clearfix;

	p
	{
		display: inline-block;
		width: 70%;
		vertical-align: middle;
		padding: 17px;
	}
	
	.details
	{
		display: inline-block;
		float: right;
		margin: 10px 17px;
		width: 70px;
	}
}