$body:		rgb(250, 250, 250);


.body
{
	background: $body;
}


/***********************************************************************************/
/* Header */
$header:     rgba(235, 235, 235, 0.9);
$user:       #e67e22;
$user-color: #fefefe;
$logo:       #e67e22;
$logo-color: #fefefe;

.header
{
	width: 100%;
	position: fixed;
	padding: 13px;
	height: 24px;
	background: $header;

	z-index: 10;
}

#logo
{
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 50px;
	padding: 15px 20px;
	@include box-sizing(border-box);

	background: $logo;
	color: $logo-color;

	.h2
	{
		display: inline-block;
	}
}

.slogan
{
	float: right;
}

.user
{
	position: fixed;
	top: 0;
	right: 0;
	cursor: pointer;
	background: $user;
	color: $user-color;

	&:hover, &:active, &:focus
	{
		background: darken($user, 5%);
	}
}

.profil-name
{
	display: inline-block;
	padding: 15px 30px;
	vertical-align: middle;
}



/***********************************************************************************/
/* Nav */
$button:        		$header;
$nav:	        		$header;
$notifications: 		$logo;
$notifications-color: 	$logo-color;

.nav
{
	position: fixed;
	top: 0;
	width: 200px;
	height: 100%;
	background: $nav;
	z-index: 1;
	overflow: auto;
	
	@include transition(all ease 0.4s);
}

#button-menu
{
	display: none;
	@include transition(all ease 0.4s);
}

.menu
{
	cursor: pointer;
	margin: 50px 0 0 0;

	@include transition(all ease 0.4s);

	.h3
	{
		padding: 12px;
	}
}

.li-menu
{
	display: inline-block;
	width: 100%;
	padding: 8px 13px;
	@include box-sizing(border-box);

	@include transition(all ease 0.4s);

	&:hover, &:active, &:focus
	{
		background: darken($button, 5%);
	}

	.notifications
	{
		float: right;

		background-color: $notifications;
		color: $notifications-color;
		font-size: 0.8em;

		@include border-radius(50px);
		padding: 0 8px; 
	}
}


/***********************************************************************************/
/* Section */
.section
{
	width: 100%;
	padding: 75px 10% 20px 10%;

	@include box-sizing(border-box);
}

.article-news
{
	margin: 45px auto;
	padding: 0 0 0 15px;
	max-width: 800px;
	@include pie-clearfix;
}

.section-title
{
	margin: 10px;
	text-align: center;
	font-size: 1.8em;
}

.head-article
{
	@include pie-clearfix;
	text-align: right;

	span
	{
		vertical-align: middle;
	}

	.h2
	{
		float: left;
		margin: 2px 0;
	}
}

.content-article
{
	@include pie-clearfix;

	p
	{
		display: inline-block;
		width: 80%;
		margin: 4px 0 0 0;
	}
	
	.button
	{
		display: inline-block;
		float: right;
		margin: 6px 0 0 0;
	}

	.extract
	{
		display: inline-block;
		width: 60%;
		margin: 0 17px 17px 17px;
		padding: 8px;

		p
		{
			width: 100%;
		}
	}
}