@charset "CP850";
/* line 17, ../../../../../Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Typographie de la page web ************************/
/* Symboles */
/* Taille et police par défaut */
/* line 15, ../sass/partials/_typo.scss */
body {
  font-size: 14px;
  font-family: 'Noto Sans', arial, sans-serif;
  color: #5d5e64;
  text-align: left;
}

/* Epaisseurs */
/* line 24, ../sass/partials/_typo.scss */
.normal {
  font-weight: normal;
}

/* line 25, ../sass/partials/_typo.scss */
.bold {
  font-weight: bold;
  color: #9d9d9d;
  font-size: 0.85em;
}

/* Majuscules et petites majuscules */
/* line 29, ../sass/partials/_typo.scss */
.majuscules {
  text-transform: uppercase;
}

/* line 30, ../sass/partials/_typo.scss */
.mini-majuscules {
  font-variant: small-caps;
}

/* Titres */
/* line 33, ../sass/partials/_typo.scss */
h1, .h1 {
  font-size: 25px;
  font: bold;
}

/* line 34, ../sass/partials/_typo.scss */
h2, .h2 {
  font-size: 20px;
}

/* line 35, ../sass/partials/_typo.scss */
h3, .h3 {
  font-size: 18px;
}

/* line 36, ../sass/partials/_typo.scss */
h4, .h4 {
  font-size: 16px;
}

/* line 37, ../sass/partials/_typo.scss */
h5, .h5 {
  font-size: 15px;
}

/* line 38, ../sass/partials/_typo.scss */
h6, .h6 {
  font-size: 14px;
}

/* Liens */
/* line 43, ../sass/partials/_typo.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 47, ../sass/partials/_typo.scss */
a:hover {
  color: inherit;
}

/* line 48, ../sass/partials/_typo.scss */
a:focus {
  color: inherit;
}

/* line 50, ../sass/partials/_typo.scss */
a:active {
  color: inherit;
}

/* Decoration */
/* line 55, ../sass/partials/_typo.scss */
.raye {
  text-decoration: line-through;
}

/* line 5, ../sass/partials/_layout.scss */
.body {
  background: #ebebeb;
}

/***********************************************************************************/
/* Articles */
/* line 15, ../sass/partials/_layout.scss */
.article {
  background: #fefefe;
  margin: 10px auto;
  width: 70%;
  padding: 17px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 25, ../sass/partials/_layout.scss */
.head-article {
  border-bottom: 2px #ebebeb;
}
